// color
$color-000000: #000000;
$color-rgba08: rgba(0, 0, 0, 0.8);
$color-linear: linear-gradient(
  109.09deg,
  rgba(0, 40, 248, 0.89) 0%,
  #6911ad 100%
);
$color-686464: #686464;
$color-999999: #999999;
$color-ffffff: #ffffff;
$color-5454D4: #5454d4;
$color-929292: #929292;
$color-272727: #272727;

// bg color
$bg-FFFFFF: #ffffff;
